<form action="/log_in" method="POST">
  <div>
    <label>username:</label>
    <input type="text" name="username" value="<%= @user && @user.username %>">
  </div>
  <div>
    <label>password</label>
    <input type="password" name="password" value="<%= @user && @user.password %>">
  </div>
  <div>
    <input type="submit" value="Log in">
  </div>
</form>